route:
  group_by: ["alertname"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h
  receiver: "default_receiver_email"
receivers:
  - name: "default_receiver_email"
    email_configs:
    - to: "${EMAIL_USERNAME}"
      from: "${EMAIL_IDENTITY}"
      smarthost: "smtp.gmail.com:587"
      auth_username: "${EMAIL_USERNAME}"
      auth_identity: "${EMAIL_IDENTITY}"
      auth_password: "${EMAIL_PASSWORD}"