@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Guerrilla&display=swap");

.authentication-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.authentication-navbar {
  display: flex;
  width: 100%;
  height: 60px;
  margin-left: 10%;
  margin-top: 20px;
}

.authentication-container {
  display: flex;
  width: 100%;
  height: 1200px;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.authentication-signindiv {
  display: flex;
  width: 50%;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateX(30%);
  animation: signin_animation 1.5s forwards;
  border-radius: 10px;
}

.authentication-signupdiv {
  display: flex;
  width: 50%;
  transition: opacity 0.5s, transform 0.5s;
  transform: translateX(-30%);
  animation: signup_animation 1.5s forwards;
  border-radius: 10px;
}

@keyframes signup_animation {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes signin_animation {
  from {
    transform: translateX(20%);
  }

  to {
    transform: translateX(0);
  }
}

.authentication-signup {
  display: flex;
  width: 40%;
  height: 700px;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
}

.authentication-signin {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 700px;
  justify-content: center;
  align-items: center;
  /* background-color: #250939; */
  border-radius: 0 10px 10px 0;


}

/* OTP CSS */

.otp-input-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #250939;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
}

.tfq-input {
  border: none;
  width: 90%;
  height: 50px;
  text-indent: 10px;
  color: white;
}

.tfq-button {
  width: 90%;
  height: 50px;
  border: none;
  background-color: #913dce;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.tfq-input:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.tfq-input:focus {
  outline: none;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.5);
}

.tfq-input:active {
  border: none;
  outline: none;
}

.tfq-input::placeholder {
  font-size: 17px;
}

/* end OTP CSS */

.authentication-signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 550px;
  /* background-color: #250939; */
  gap: 10px;


  /* Done By IMAD */
  background: linear-gradient(to bottom, rgb(68, 45, 106, 0.6), rgba(74, 37, 139, 0.3));
  box-shadow: 0 0px 20px 0 #ccc;
  box-shadow: 0 0.5px 5px 0 #ccc;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.authentication-signin-form-tag {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.authentication-signin-title-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80px;
}

.authentication-signin-title {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-family: "Bebas Neue", sans-serif;
}

.authentication-signin-input {
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  text-indent: 15px;
  color: white;
  font-size: medium;
}

.authentication-signin-input:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.authentication-signin-input:focus {
  outline: none;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.5);
}

.authentication-signin-input:active {
  border: none;
  outline: none;
}

.authentication-signin-input::placeholder,
.authentication-signup-input::placeholder {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.7);
}

.authentication-signin-forget-password-div {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.authentication-signin-forget-password {
  color: rgba(255, 255, 255, 0.7);
}

.authentication-signin-forget-password:hover {
  color: rgb(255, 255, 255);
}

.authentication-signin-button {
  width: 90%;
  height: 60px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: #913dce;
}

.authentication-signin-button:active {
  background-color: black;
}


.authentication-signin-line {
  display: flex;
  align-items: center;
  width: 90%;
  gap: 10px;
}

.authentication-signin-little-line {
  height: 1px;
  width: 45%;
  background-color: rgba(255, 255, 255, 0.8);
}

.authentication-signin-or {
  color: white;
}

.authentication-signin-ways {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 90%;
}

.authentication-signin-ways img {
  border: 0.1px solid rgba(255, 255, 255, 0.5);
  border-radius: 80px;
  padding: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.authentication-signin-ways img:hover {
  background-color: black;
}

.authentication-signin-dont-have-account {
  margin-top: 60px;
  color: white;
}

.authentication-signin-dont-have-account-link {
  color: white;
  font-size: 18px;
}

.authentication-signin-leftdesign {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  align-items: center;
  height: 550px;
  border-radius: 10px 0 0 10px;
}

.authentication-signin-leftdesign img {
  width: 100%;
  height: 90%;
}

/* ---- SIGN UP CSS */

.authentication-signup-form {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 10px;
  /* background-color: #250939; */


  /* Done By IMAD */
  background: linear-gradient(to bottom, rgb(68, 45, 106, 0.6), rgba(74, 37, 139, 0.3));
  box-shadow: 0 0px 20px 0 #ccc;
  box-shadow: 0 0.5px 5px 0 #ccc;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.signup-form-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; 

}

.authentication-signup-title-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80px;
}

.authentication-signup-title {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-family: "Bebas Neue", sans-serif;
}

.authentication-signup-input {
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  text-indent: 15px;
  color: white;
  font-size: medium;
}

.authentication-signup-input:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.authentication-signup-input:focus {
  outline: none;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.5);
}

.authentication-signup-input:active {
  border: none;
  outline: none;
}

.authentication-signup-button {
  width: 90%;
  height: 60px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background-color: #913dce;
}

.authentication-signup-button:active {
  background-color: black;
}

.authentication-signup-line {
  display: flex;
  align-items: center;
  width: 90%;
  gap: 10px;
}

.authentication-signup-little-line {
  height: 1px;
  width: 45%;
  background-color: rgba(255, 255, 255, 0.8);
}

.span-messages {
  color: red;
  font-size: 13px;
}

.authentication-signup-or {
  color: white;
}

.authentication-signup-ways {
  display: flex;
  /* background-color: yellow; */
  justify-content: center;
  gap: 20px;
  width: 90%;
}

.authentication-signup-ways img {
  border: 0.1px solid rgba(255, 255, 255, 0.5);
  border-radius: 80px;
  padding: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.authentication-signup-have-account {
  margin-top: 40px;
  color: white;
}

.authentication-signup-have-account-link {
  color: white;
  font-size: 18px;
}

.authentication-signup-rightdesign {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  align-items: center;
  height: 550px;
  border-radius: 0 10px 10px 0;
}

.authentication-signup-rightdesign img {
  width: 100%;
  height: 90%;
}

/* @media (min-width: 1750px) {
	.authentication-signup-input{
		width: 400px;
		min-width: 1000px;
	}
} */

@media (min-width: 1200px) {
  .authentication-container {
    min-width: 1100px;
  }
}

@media (min-width: 1024px) {

  .authentication-signindiv,
  .authentication-signupdiv {
    width: 55%;
    min-width: 1000px;
  }
}

@media (max-width: 1023px) {

  .authentication-signindiv,
  .authentication-signupdiv {
    width: 99%;
  }

  .authentication-signin-dont-have-account,
  .authentication-signup-have-account {
    margin-top: 40px;
  }

  .authentication-signup-rightdesign img,
  .authentication-signin-leftdesign img {
    width: 90%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .authentication-container {
    justify-content: initial;
    align-items: initial;
  }

  .authentication-signindiv,
  .authentication-signupdiv {
    width: 100%;
    justify-content: center;
  }

  .authentication-signin-form,
  .authentication-signup-form {
    justify-content: initial;
  }

  .authentication-signin-leftdesign,
  .authentication-signup-rightdesign {
    display: none;
  }

  .authentication-signin,
  .authentication-signup {
    width: 70%;
  }
}

@media (max-width: 700px) {

  .authentication-signin,
  .authentication-signup {
    width: 90%;
  }
}

@media (max-width: 425px) {

  .authentication-signin,
  .authentication-signup {
    width: 100%;
  }
}

@media (max-width: 300px) {

  .authentication-signin,
  .authentication-signup {
    width: 100%;
  }

  .authentication-signin-forget-password {
    color: rgb(165, 165, 165);
    font-size: 11px;
  }

  .authentication-signin-dont-have-account,
  .authentication-signup-have-account {
    margin-top: 10px;
    font-size: 11px;
  }

  .authentication-signin-dont-have-account-link,
  .authentication-signup-have-account-link {
    font-size: 12px;
  }

  .authentication-signin-input::placeholder,
  .authentication-signup-input::placeholder {
    font-size: 12px;
  }
}

@media (max-width: 240px) {

  .authentication-signin-form,
  .authentication-signup-form {
    margin-top: -100px;
  }


  .authentication-signin-title,
  .authentication-signup-title {
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
  }

  .authentication-navbar {
    width: 100%;
    height: 50px;
    margin-left: 7%;
    margin-top: 10px;
  }

  .authentication-signin-forget-password {
    color: rgb(165, 165, 165);
    font-size: 10px;
  }
}


