.settings-page {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* border: #826aed solid 2px; */
    padding: 100px 20px 0;
    gap: 20px;
    overflow-y: scroll;
}

.avatarEditor {
    touch-action: none
}

:root {
    --dark-gray: color-mix( in oklab, hsl( 215 calc( 1 * 8.8%) 73.3% / 1) 100%, black 0% );
}

.shadow-bg {
    box-shadow: 0 0px 20px 0 #ccc ;
    box-shadow: 0 0.5px 5px 0 #ccc;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

.btn-active {
    background: linear-gradient(to bottom, rgb(68, 45, 106, 0.9), rgba(74, 37, 139, 0.2));
}

.settings-page .no-bottom {
    border-bottom: none;
}

.linear-purple-bg {
    background: linear-gradient(to bottom, rgb(68, 45, 106, 0.8), rgba(74, 37, 139, 0));
    box-shadow: 0 0px 20px 0 #ccc ;
    box-shadow: 0 0.5px 5px 0 #ccc;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* -------------------------- Left Side -------------------------- */

.settings-page .settings__leftside {
    display: flex;
    flex-direction: column;
    width: 25%;
    /* border: #8edf34 solid 1px; */
    color: white;
}
.settings__leftside .pic-name{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 10px;
    cursor: pointer;
}
.settings__leftside .pic-name p{
    cursor: inherit;
}
.settings__leftside .pic-name img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.settings-page .settings__leftside .left__email{
    margin-top: 5px;
    height: 30px;
    /* text-align: center; */
    border-bottom: #ccc 0.5px solid;
    margin-bottom: 20px;
    font-size: 17px;
}

.settings-page .settings__leftside .left__security,
.settings-page .settings__leftside .left__pers-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}


/* -------------------------- Right Side -------------------------- */

.settings__header {
    color: white;
    font-size: 28px;
    border-bottom: #ccc 0.1px solid;
    letter-spacing: 0.5px;
}

/* --- Security --- */

.settings-page .settings__security {
    display: flex;
    flex-direction: column;
    /* height: 600px; */
    width: 70%;
    padding-top: 5px;
    gap: 15px;
    margin-bottom: 550px;
}

.settings__security .security__update {
    display: flex;
    /* border: #ccc solid 5px; */
    flex-direction: column;
    width: 100%;
    /* height: 400px; */
}

/*------------------ PWD ------------------*/

.settings-page .settings__security .update__pwd {
    display: flex;
    flex-direction: column;
    /* border: #ccc solid 1px; */
    /* height: 200px; */
    align-items: center;
    padding: 15px 20px 5PX 20PX;
}
.update__pwd .pwd__title__input {
    max-width: 400px;
    width: 100%;
}

.settings-page .settings__security .update__pwd .pwd__title{
    color: var(--dark-gray);
    width: 100%;
    text-align: start;
    margin-bottom: 10px;
}
.settings-page .settings__security .update__pwd .input__ctr{
    position: relative;
    /* border: white 1px solid; */
    margin-bottom: 15px;
}
.update__pwd .input__ctr .pwd__eye{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 10px;
    color: var(--dark-gray);
    cursor: pointer;
    transform: translateY(-50%);
}
.update__pwd .input__ctr .pwd__eye svg{
    width: 17px;
    height: 17px;
}

.update__pwd .input__ctr .pwd__input{
    padding-left: 5px;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color : white;
    font-size: 17px;
    max-width: 500px;
}

.update__pwd .pwd__submit {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
}

.update__pwd .pwd__submit .submit-button{
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    border: white .5px solid;
    cursor: pointer;
    font-size: 15px;
    background-color: #927eea;
    margin-top: 10px;
    margin-bottom: 10px;
}
.update__pwd .pwd__submit .submit-button:hover{
    background-color: #826aed;
    border: none;
    transition: ease-in 0.2s;
}

.update__pwd .pwd__submit .submit__cancel{
    background-color: #2f084b;
}
.update__pwd .pwd__submit .submit__cancel:hover{
    background-color: #52127f;
}

/*------------ Loading ------------*/

.settings-page .update__lodaing {
    display: flex;
    flex-direction: column;
    /* border: #ccc solid 1px; */
    height: 180px;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.update__lodaing .loading__title {
    color: white;
    /* margin-bottom: 10px; */
}
.update__lodaing .loading__ctr {
    display: flex;
    height: 50px;
    width: 70%;
    border: white 3px solid;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

/*------------------ TFQ ------------------*/

.settings-page .settings__security .tfq {
    display: flex;
    flex-direction: column;
    /* height: 550px; */
    padding: 10px 35px 0;
}
.settings-page .settings__security .tfq h1{
    color: white;
    font-size: 27px;
    border-bottom: white 0.5px solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.settings-page .settings__security .tfq p{
    /* width: 100%; */
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}
.settings-page .settings__security .tfq .tfq__applist{
    padding: 0 15px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 20px;
    color: white;
}

.settings-page .settings__security .tfq .tfq__submit{ /* Submition */
    display: flex;
    justify-content: center;
    border-top: white solid 0.5px;
    gap: 10px;
    padding: 20px 0;
}
.settings-page .settings__security .tfq .no--top-border {
    border-top: white solid 0px;
}
.tfq .tfq__submit .submit{
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    border: white .5px solid;
    cursor: pointer;
    font-size: 15px;
}
.tfq__submit .submit__cancel {
    background-color: #2f084b;
}
.tfq__submit .submit__cancel:hover {
    border: none;
    background-color: #52127f;
    transition: ease-in  0.2s;
}
.tfq__submit .submit__continue {
    background-color: #826aed;
}
.tfq__submit .submit__continue:hover {
    /* padding: 12px 42px; */
    border: none;
    background-color: #927eea;
    transition: ease-in 0.2s;
}

.settings-page .settings__security .tfq h2{
    color: white;
    margin: 10px 0 5px;    
    width: 100%;
    text-align: center;
    font-size: 22px;
}
.settings-page .settings__security .tfq h4,
.settings-page .settings__security .tfq h3{
    color: white;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
    font-size: 17px;
}
.settings-page .settings__security .tfq .tfq__keycode{
    display: flex;
    align-self: center;
    margin-bottom: 10px;
    justify-content: center;
    padding: 20px;
    gap: 10px;

    border-radius: 5px;
    background: rgba(255, 255, 255, 0.20);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.tfq .tfq__keycode .keycode__key {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* border: #2f084b solid .5px; */
    width: 150px;
}
.tfq .tfq__keycode .keycode__key h6{
    display: flex;
    color: white;
    font-size: 11px;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: rgb(47, 8, 75, 0.5);
    word-break: break-all;
}
.tfq .tfq__keycode .keycode__QR {
    height: 150px;
    width: 150px;
}

.tfq .tfq__input {
    align-self: center;
    padding-left: 5px;
    width: 80%;
    height: 35px;
    outline: none;
    border: solid white 0.5px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color : white;
    font-size: 17px;
    margin-bottom: 10px;
}
.tfq .tfq__input::placeholder {
    color: rgb(127, 127, 127, 0.8);
    font-size: 14px;
}


.update__pwd .pwd__submit .submit-button{
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    border: white .5px solid;
    cursor: pointer;
    font-size: 15px;
    background-color: #927eea;
    margin-top: 10px;
    margin-bottom: 10px;
}
.update__pwd .pwd__submit .submit-button:hover{
    background-color: #826aed;
    border: none;
    transition: ease-in 0.2s;
}

.update__pwd .pwd__submit .submit__cancel{
    background-color: #2f084b;
}
.update__pwd .pwd__submit .submit__cancel:hover{
    background-color: #52127f;
}

/*------------ Loading ------------*/

.settings-page .settings__security .update__lodaing {
    display: flex;
    flex-direction: column;
    /* border: #ccc solid 1px; */
    height: 180px;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.update__lodaing .loading__title {
    color: white;
    /* margin-bottom: 10px; */
}
.settings__security .update__lodaing .loading__ctr {
    display: flex;
    height: 50px;
    width: 70%;
    border: white 3px solid;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

/*------------------ TFQ ------------------*/

.settings-page .settings__security .twofaw {
    display: flex;
    flex-direction: column;
    height: 200px;

}
/* --- Personal Info --- */

.settings-page .settings__personal-info {
    display: flex;
    flex-direction: column;
    /* height: 600px; */
    width: 70%;
    padding-top: 5px;
    gap: 15px;
    margin-bottom: 800px;
}

.settings__personal-info .personal-info__update {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}

.update { /* Update Container */
    display: flex;
    align-items: center;
    height: 90px;
    border-bottom: 2px solid rgba( 255, 255, 255, 0.2 );
    padding: 0 40px 0 20px;
    gap: 15px;
    color: white;
}
.personal-info__update .update img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
    /* box-shadow: 0 0.5px 5px 0 #ccc;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
.personal-info__update .update + .update img {
    margin-right: 10px;
    height: 55px;
    width: 70px;
    /* border: 1px solid white; */
    border-radius: 5px;
}

.personal-info__update .update .title-pic {
    font-size: 18px;
    font-weight: 450;
    color: #ccc;
}
.update .title {
    color: #ccc;
    width: 90px;
    font-size: 18px;
    font-weight: 450;
    margin-right: 20px;
    /* border: #826aed solid 1px; */
}
.update .more-width { /* For Security titles*/
    width: 160px;
}
.update .update__info {
    font-size: 15px;
    font-weight: 450;
    cursor: inherit;
}

/* --- Update Bio --- */
.update .update__bio {
    position: relative;
    cursor: pointer;
    /* border: white solid 1px; */
}
.update .update__bio .update__info-hover {
    position: absolute;
    /* width: 85%; */
    top: -10px;
    opacity: 0;
    padding: 5px;
    font-size: 15px;
    transition: opacity 1s ease;
    border: solid white 0.5px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
}
.update .update__bio:hover .update__info-hover{
    opacity: 1;
}
.update .update__bio:hover .update__info {
    opacity: 0;
}
/*--- Input ---*/

.personal-info__update .update .update__input {
    padding-left: 5px;
    width: 160px;
    height: 35px;
    outline: none;
    border: solid white 0.5px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color : white;
    font-size: 17px;
}
.update .update__input::placeholder {
    color: rgb(127, 127, 127, 0.8);
    font-size: 14px;
}

.personal-info__update .update-height { /* Bio Text Area */
    height: 150px;
}
.personal-info__update .update .input-bio {
    height: 100px;
    width: 250px;
    padding: 8px;
    font-size: 15px;
}

/*---- Update Btn ----*/

.update .update__btn {
    display: flex;
    background-color: #826aed;
    border: white 1px solid;
    border-radius: 10px;
    padding: 8px 25px;
    margin-left: auto;
    cursor: pointer;
    user-select: none;
}
.update .update__btn:hover {
    padding: 9px 27px;
    background-color: #927eea;
    transition: ease-in-out 0.2s;
}
.update .update__btn p{
    cursor: inherit;
}

/*---- Update Country ----*/

.update .country__select-button {
    user-select: none;
    margin-top: 5px;
    /* width: 200px; */
    color: white;
    background: linear-gradient(to bottom, rgb(68, 45, 106, 0.9), rgba(74, 37, 139, 0.4));
    border: white 1px solid;
}
.update .update__country-placeholder {
    color: white;
    font-size: 15px;
}

.personal-info__update .country-space {
    justify-content: space-between;
    border-bottom: none;
}

/*------ Adjust Pic -----*/

.adjustpic {
    display: flex;
    /* height: 550px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 10px 20px 20px;
}
.adjustpic h2 {
    display: flex;
    align-self: start;
    color: white;
    width: 100%;
    padding: 0 0 5px;
    font-size: 25px;
    border-bottom: 0.5px solid white;
}
.adjustpic .avatarEditor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    padding-bottom: 10px;
    box-shadow: 0 0.5px 5px 0 #ccc;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.adjustpic .zoomscale {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    border: white 1px solid;
    box-shadow: 0 0.5px 5px 0 #ccc;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    padding: 3px 5px;
}

.adjustpic .custom-file-upload {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 5px;
    color: #250939;
    background: white;
    border: white 1px solid;
    font-size: 15px;
    font-weight: 450;
}
.custom-file-upload input[type="file"] {
    display: none;
}
.custom-file-upload:hover {
    color: white;
    background: #250939;
    transition: ease-in 0.3s;
}


.adjustpic .adjustpic__submit {
    display: flex;
    gap: 10px;
}
.adjustpic .adjustpic__submit button{
    background: #2f084b;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 450;
    padding: 8px 16px;
    color: white;
    border: solid 1px white;
    cursor: pointer;
}
.adjustpic .adjustpic__submit button:nth-child(2) {
    background: #826aed;
}
.adjustpic .adjustpic__submit .submit__not-allowed{
    cursor: not-allowed;
}
.adjustpic .adjustpic__submit button:hover{
    background: #52127f;
}
.adjustpic .adjustpic__submit button:nth-child(2):hover{
    background-color: #927eea;
}

@media (min-width: 1440px) {
    .settings-page {
        width: 1400px;
        margin: 0 auto;
    }
}

@media (max-width: 1000px) {
    .settings-page {
        flex-direction: column;
        justify-content: start;
    }
    
    .settings-page .settings__security,
    .settings-page .settings__leftside {
        width: 90%;
        align-self: center;
    }
    .settings__leftside .pic-name {
        font-size: 20px;
        height: 50px;
        width: 50px;
    }
    .settings-page .settings__personal-info {
        margin-bottom: 0px;
        align-self: center;
        width: 90%;
        margin-bottom: 280px;
    }
}

@media (max-width: 768px) {
    .settings__header {
        font-size: 25px;
    }
    .update {
        padding: 0 20px 0 20px;
        gap: 10px;
    }
    .update .update__btn {
        padding: 8px 15px;
    }
    .update .update__btn:hover {
        padding: 9px 17px;
    }
    .update .update__info {
        font-size: 8px;
    }
    .update .update__bio .update__info-hover{
        font-size: 8px;
    }
    .update .title {
        width: 85px;
        font-size: 14px;
        margin-right: 10px;
    }
    .personal-info__update .update .title-pic {
        font-size: 14px;
    }
    /* TFQ */
    .settings-page .settings__security .tfq {
        padding: 10px 35px 0;
    }
    .settings-page .settings__security .tfq h1{
        font-size: 20px;
    }
    .settings-page .settings__security .tfq p{
        font-size: 15px;
    }
    .settings-page .settings__security .tfq h2{
        font-size: 16px;
    }
    .settings-page .settings__security .tfq h4,
    .settings-page .settings__security .tfq h3{
        font-size: 14px;
    }
    .settings-page .settings__security .tfq .tfq__applist{
        font-size: 15px;
    }
}
@media (min-width: 570px) {
    .update .update__btn svg{
        display: none;
    }
}
@media (max-width: 570px) {

    .update {
        padding: 0 15px 0 15px;
    }
    .settings-page .settings__security,
    .settings-page .settings__personal-info,
    .settings-page .settings__leftside {
        width: 100%;
    }

    .update .update__btn svg{
        display:block;
    }
    .update .update__btn p{
        display: none;
    }
    .update .update__btn svg{
        height: 18.5px;
        width: 18.5px;
    }
    .update .update__btn {
        padding: 3px 3px;
    }
    .update .update__btn:hover {
        padding: 5.5px 5.5px;
    }
    .personal-info__update .country-space {
        /* display: flex;
        flex-direction: column; */
    }

    .personal-info__update .update img {
        height: 50px;
        width: 50px;
        margin-right: 5px;
    }
    .personal-info__update .update + .update img {
        margin-right: 5px;
        height: 45px;
        width: 60px;
    }
}

@media (max-width: 450px) {
    /* TFQ */
    .settings-page .settings__security .tfq {
        padding: 10px 15px 0;
    }
    .settings-page .settings__security .tfq h1{
        font-size: 16px;
    }
    .settings-page .settings__security .tfq p,
    .settings-page .settings__security .tfq h2,
    .settings-page .settings__security .tfq h4,
    .settings-page .settings__security .tfq h3,
    .settings-page .settings__security .tfq .tfq__applist,
    .tfq .tfq__input::placeholder {
        font-size: 12px;
    }
    .settings-page .settings__security .tfq .tfq__keycode{
        flex-direction: column-reverse;
        align-items: center;
        padding: 15px;
    }
    .tfq .tfq__keycode .keycode__key {
        margin-top: 0px;
        width: 122px;
    }
    .tfq .tfq__keycode .keycode__key h6{
        font-size: 10px;
    }
    .tfq .tfq__keycode .keycode__QR {
        height: 120px;
        width: 120px;
    }
    .tfq .tfq__submit .submit{
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 10px;
    }

    /* Update Settings */
    .personal-info__update .update .title-pic {
        font-size: 10px;
    }
    .update .title {
        width: 10px;
        font-size: 10px;
        margin-right: 10px;
    }
    .country-space {
        flex-direction: column;
        justify-content:baseline;
        padding: 10px 0;
    }
    .personal-info__update .update img {
        height: 40px;
        width: 40px;
        margin-right: 5px;
    }
    .personal-info__update .update + .update img {
        margin-right: 5px;
        height: 35px;
        width: 50px;
    }

}